@font-face {
    font-family: 'Monument Valley';
    src: url('../Images/MonumentValley12-X55o.otf') format('opentype');
    font-weight: bold;
}

html, body {
    height: 100%; /* Ensure full height for body */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #e4e4e4;
    color: white;
    padding: 0; /* Remove padding to avoid extra whitespace */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width */
    padding: 10px 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-family: 'Monument Valley', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons a {
    font-family: 'Monument Valley', sans-serif; /* Apply custom font here */
    font-size: 1.5em; /* Responsive font size */
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
    .logo span {
        font-size: 24px;
    }

    .nav-buttons a {
        font-size: 1.2em;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .logo span {
        font-size: 20px;
    }

    .nav-buttons a {
        font-size: 1em;
        margin-left: 5px;
        padding: 5px 10px;
    }
}

main {
    flex: 1; /* Allow main to grow and fill available space */
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e4e4e4;
    color: black;
}
