@font-face {
    font-family: 'Monument Valley';
    src: url('../Images/MonumentValley12-X55o.otf') format('opentype');
    font-weight: bold;
}

html, body {
    height: 100%; /* Ensure full height for body */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
    /* overflow: hidden; Hide the scrollbar on the body */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* WebKit browsers */
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Firefox */
body {
    scrollbar-width: none; /* Hide scrollbar */
}

header {
    background-color: rgba(228, 228, 228, 0.5); /* 50% opacity background */
    padding: 0; /* Remove padding to avoid extra whitespace */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width */
    padding: .25em 1.5em; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3.5rem;
    margin-right: 1rem;
}

.logo span {
    font-family: 'Monument Valley', sans-serif;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons a {
    font-family: 'Monument Valley', sans-serif; /* Apply custom font here */
    font-size: 2.25rem; /* Responsive font size */
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 1rem 15px;
}

.text-border {
    border-left: 2px solid black; /* Adjust thickness and color as needed */
    padding-left: 20px; /* Add space between text and border */
    margin-left: 20px; /* Adjust as needed */
}

h1 {
    font-size: 3em; /* Adjust as needed for larger text */
}

main {
    flex: 1; /* Allow main to grow and fill available space */
    padding: 0; /* Remove padding around main content */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

section {
    margin: 0;
    clear: both;
    margin-top: 0px;
}

.full-width-image {
    width: 100%; /* Ensure the image takes up the full width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0; /* Ensure no margin around the image */
}

.banner-image {
    width: 100%; /* Ensure the image takes up the full width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0; /* Ensure no margin around the image */
}

.bottom-text {
    text-align: center;
    padding: 10px;
    background-color: #e4e4e4;
    color: black;
}

.text-container {
    flex: 1;
    max-width: 60%; /* Adjust as needed */
    text-align: center;
}

.spacing-container {
    height: 4rem; /* Adjust the height as needed for spacing */
    width: 100%;
}

/* CSS for slideshows */

.slideshow-container {
    position: relative;
    width: 35%;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    flex: 1;
}

.additional-slideshow {
    position: relative;
    width: 35%;
    margin: 0; 
    padding: 20px;
    overflow: hidden;
    flex: 1;
}

.slide, .slide2 {
    display: none;
}

.slide img, .slide2 img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 1rem;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
}

/* Container for slideshow sections */
/* .slideshow-container-wrapper {
    display: block;
    width: 100%; 
    clear: both;
} */

.about-container-wrapper {
    display: flex;
    width: 100%; 
    clear: both;
}

/* MOBILE COMPATABILITY */

/* Medium Screens */
@media (max-width: 768px) {
    .logo span {
        font-size: 2.25rem;
    }

    .nav-buttons a {
        font-size: 2em;
        margin-left: 10px;
        padding: 1rem 5px;
    }

    h1 {
        font-size: 2.5em;
    }

    .full-width-image {
        width: 150%;
        margin-left: -25%;
    }
}

/* Small Screens */
@media (max-width: 480px) {
    .logo img {
        margin-right: .75rem;
    }
    
    .logo span {
        font-size: 1.25rem;
    }

    .text-container {
        max-width: 80%; /* Adjust as needed */
    }

    .slideshow-container {
        width: 80%;
    }
    
    .additional-slideshow {
        width: 80%;
    }

    .about-container-wrapper {
        display: block;
    }

    .nav-buttons a {
        font-size: 1.25em;
        margin-left: 5px;
        padding: 1rem 0px;
    }

    h1 {
        font-size: 2em; /* Adjust for small screens */
    }

    .full-width-image {
        width: 150%;
        margin-left: -25%;
    }
}
